<!--редактирование/ создание задачи-->
<div mat-dialog-content>

  <p mat-dialog-title>{{task.title}}</p>

  <!--название задачи-->
  <mat-form-field appearance="fill">
    <mat-label>Название (обязательно)</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()"> <!--по нажатию на enter можем сразу сохранить задачу-->

    <button
      *ngIf="tmpTitle.trim().length > 0"
      matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle=''" class="dialog-task-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <!--  выпадающий список категорий-->
  <mat-form-field appearance="fill">
    <mat-label>Укажите категорию</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option
        *ngFor="let cat of categories"
        [value]="cat"
      >{{cat.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!--  выпадающий список приоритетов-->
  <mat-form-field appearance="fill">
    <mat-label>Укажите приоритет</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option
        *ngFor="let priority of priorities"
        [value]="priority"
      >{{priority.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!--календарь - срок выполнения-->
  <mat-form-field appearance="fill">
    <input
      matInput
      placeholder="Укажите срок выполнения" #inputDate
      readonly="true"
      [matDatepicker]="picker"
      [(ngModel)]="tmpDate"
      (click)="picker.open()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <!--иконка календаря (для открытия календаря)-->
    <mat-datepicker #picker></mat-datepicker> <!--компонент календаря (открывается оп нажатию)-->
  </mat-form-field>

  <!--кнопка очистки календаря-->
  <button
    *ngIf="inputDate.value.trim().length > 0"
    (click)="tmpDate = null"
    mat-button matSuffix mat-icon-button aria-label="Clear"
  >
    <mat-icon>clear</mat-icon>
  </button>

</div>

<!--кнопки возможных действий-->
<div mat-dialog-actions>
  <div class="col-md-5 col-12 mb-3">
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
      [disabled]="inputTitle.value.trim().length == 0"> <!--если пустой текст - кнопка "Сохранить"-->
      Сохранить
    </button>
    <button mat-button mat-raised-button (click)="onCancel()">Отмена</button>
  </div>

  <div class="col-md-7 col-12 mb-3">
    <button mat-button mat-raised-button color="accent"
            *ngIf="!task.completed && canActivateDeactivate()"
            (click)="complete()"
    >Завершить задачу
    </button>
    <button mat-button mat-raised-button color="accent"
            *ngIf="task.completed && canActivateDeactivate()"
            (click)="activate()">Активировать задачу
    </button>
    <button
      mat-button
      mat-raised-button
      color="warn"
      *ngIf="canDelete()"
      (click)="delete()"
    >Удалить</button>
  </div>
</div>
