<div class="wrapper">

<mat-sidenav-container class="example-container" style="height: 100vh">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
      <aside
        class="sidenav navbar navbar-vertical navbar-custom navbar-expand-xs border-0 fixed-start category__navbar"
        id="sidenav-main">

        <div class="category__intro">
          <app-categories
            (selectCategory)="onSelectCategory($event)"
            (deleteCategory)="onDeleteCategory($event)"
            (updateCategory)="onUpdateCategory($event)"
            (addCategory)="onAddCategory($event)"
            (searchCategory)="onSearchCategory($event)"
            [categoryMap]="categoryMap"
            [uncompletedTotal]="uncompletedTotalTasksCategory"

            [selectedCategory]="selectedCategory"
            [categories]="categories"
          >
          </app-categories>
        </div>

      </aside>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
             navbar-scroll="true">
          <p>
            <mat-icon
              class="icon__navbar"
              mat-button
              (click)="sidenav.toggle()"
            >menu
            </mat-icon>
          </p>

          <app-header
            [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
            (toggleStat)="toggleStat($event)"
            [showStat]="showStat"
          >

          </app-header>

        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
          <app-statistic
            [totalTasksInCategory]="totalTasksCountInCategory"
            [completeTasksInCategory]="completedCountInCategory"
            [uncompleteTasksInCategory]="uncompletedCountInCategory"
            [showStat]="showStat"
          >
          </app-statistic>

          <div class="row mb-4">
            <div class="col col-mb-4">
              <app-tasks
                (updateTask)="onUpdateTask($event)"
                (deleteTask)="onDeleteTask($event)"
                (addTask)="onAddTask($event)"

                (selectCategory)="onSelectCategory($event)"
                [selectedCategory]="selectedCategory"

                (filterByStatus)="onFilterTasksByStatus($event)"
                (filterByTitle)="onSearchTasks($event)"
                (filterByPriority)="onFilterTasksByPriority($event)"
                [tasks]="tasks"
                [priorities]="priorities"
              >
              </app-tasks>
            </div>
          </div>

          <app-footer></app-footer>

        </div>
      </main>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>

