.completed {
  text-decoration: line-through;
  color: #ccc;
}

.task {
  &__not-value {
    color: #b7b7b7;
  }
}

.col {
  &-color {
    width: 2%;
  }

  &-id {
    width: 2%;
    text-align: center;
  }

  &-title {
    width: 40%;
  }

  &-date {
    width: 10%;
  }

  &-priority {
    width: 5%;
  }

  &-category {
    width: 5%;
  }
}

table {
  //width: 100%;
  //border-collapse: inherit;
}

tr {
  height: 48px;
  border-bottom: 1px solid #ccc;
}
