<div class="card">
  <div class="card-body px-0 pb-2" *ngIf="tasks && tasks.length > 0; else notTask">
    <div class="table-responsive" >

      <table cdk-table [dataSource]="dataSource" matSort>

        <!--  цвет приоритета  -->
        <ng-container cdkColumnDef="color">
          <th cdk-header-cell *cdkHeaderCellDef></th>
          <td class="col-color" cdk-cell *cdkCellDef="let task" [style.background-color]="getPriorityColor(task)"></td>
        </ng-container>

        <!-- нумерация-->
        <ng-container cdkColumnDef="id">
          <th cdk-header-cell *cdkHeaderCellDef></th>
          <td class="col-id" cdk-cell *cdkCellDef="let index = index">{{index + 1}}</td>
        </ng-container>

        <!-- название задачи-->
        <ng-container cdkColumnDef="title">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Название</th>
          <td class="col-title" cdk-cell *cdkCellDef="let task"
              [ngClass]="{'completed': task.completed}"
          >

            {{task.title}}
          </td>
        </ng-container>

        <!--дата выполнения-->
        <ng-container cdkColumnDef="date">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Срок</th>
          <td class="col-date" cdk-cell *cdkCellDef="let task"
              [ngClass]="{'completed': task.completed, 'task__not-value': task.date == null}">
            {{task.date ? (task.date | date: "medium") : 'Время не задано'}}
          </td>
        </ng-container>

        <!--приоритет-->
        <ng-container cdkColumnDef="priority">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Приоритет</th>
          <td class="col-priority" cdk-cell *cdkCellDef="let task"
              [ngClass]="{'completed': task.completed, 'task__not-value': task.priority == null}"
          > {{task.priority ? task.priority.title : "Без приоритета"}} </td>
        </ng-container>

        <!--категория-->
        <ng-container cdkColumnDef="category">
          <th cdk-header-cell *cdkHeaderCellDef mat-sort-header> Категория</th>
          <td class="col-category" cdk-cell *cdkCellDef="let task"
              [ngClass]="{'completed': task.completed, 'task__not-value': task.category == null, 'link': !task.completed && task.category}"
          > {{task.category ? task.category.title : "Без категории"}} </td>
        </ng-container>

        <!--        Заголовок таблицы-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!--        строки таблицы-->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>
  </div>
  <ng-template #notTask>
    <div><p class="task__not-found">Нет задач</p></div>
  </ng-template>

</div>
