.completed {
  text-decoration: line-through;
  color: #ccc;
}

.task {
  &__not-value {
    color: #b7b7b7;
  }

  &__not-found {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__placeholder{
    color: #000;
  }

}

.example-form-field {
  //background-color: rgba(57, 57, 64, .5);
  border-radius: 4px;
  color: #000;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgba(0,0,0,.04)!important;
}


.col {
  &-color {
    width: 2%;
  }

  &-id {
    width: 2%;
    text-align: center;
  }

  &-title {
    width: 40%;
  }

  &-date {
    width: 10%;
  }

  &-priority {
    width: 5%;
  }

  &-category {
    width: 5%;
  }

  &-operations {
    width: 5%;
  }
}

table {
  //width: 100%;
  //border-collapse: inherit;
}

tr {
  height: 48px;
  border-bottom: 1px solid #ccc;
}

.icon {
  &-delete {
    color: #f1828d;
  }

  &-edit {

  }
}
