<div class="card" [ngClass]="{'completed-card': completed}">
  <div class="card-header p-3 pt-2">
    <div
      class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
      <i class="material-icons opacity-10">{{iconName}}</i>
    </div>
    <div class="text-end pt-1">
      <p class="text-sm mb-0 text-capitalize"></p>
      <p class="mb-0 ">
        <span class="text-success text-md font-weight-bolder">
                  {{count1}}
        </span>
        <span class="text-xs "
              *ngIf="countTotal"
        >из {{countTotal}}
      </span>
      </p>
    </div>
  </div>
  <hr class="dark horizontal my-0">
  <div class="card-footer p-3">
    <p class="mb-0">
      <span
        class="text-md"
      >{{title}}</span>
    </p>
  </div>
</div>
