/* You can add global styles to this file, and also import other style files */
@import "assets/scss/material-dashboard";
@import "assets/css/nucleo-svg.css";
@import "assets/css/nucleo-icons.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-gray {
  color: #8f8f8f;
}

.pointer {
  cursor: pointer;
}

app-header {
  width: 100%;
}

.mat-dialog-content {
  //padding: 40px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-label-wrapper {
  border-bottom: 1px solid #ccc;
}

.row {
  margin: 0;
}

.mat-select-value-text {
  color: #7b809a;
}

.mat-select-arrow {
  color: #7b809a;
}


.red {
  color: red;
}

.mat-checkbox-inner-container {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.navbar-vertical.navbar-expand-xs {
  position: relative;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  width: 0 !important;
}

@media (min-width: 1200px) {
  .sidenav.fixed-start + .main-content {
    margin-left: 0
  }
}


