.category {
  display: flex;

  &__title {
    width: 80%;
  }

  &__icon {
    width: 20%;
  }

  &__not-found {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pointer {
  cursor: pointer;
}

.sidenav {
  &__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
