<div class="sidenav-header">
  <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
     aria-hidden="true" id="iconSidenav"></i>
  <a class="navbar-brand m-0" href="#"
     target="_blank">
    <span class="ms-1 font-weight-bold text-white">Категории</span>
  </a>
</div>
<hr class="horizontal light mt-0 mb-2">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <!--виртуальная категория-->
    <li class="nav-item"
        (click)="showTasksByCategory(null)">
      <a class="nav-link text-white pointer"
         [class.bg-gradient-primary]="selectedCategory===null">
        <span class="nav-link-text ms-1">Все</span>
      </a>
    </li>
    <!--разделитель-->
    <hr class="horizontal light">

    <li class="nav-item" *ngFor="let category of categories" (click)="showTasksByCategory(category)">
      <a
        class="nav-link text-white pointer"
        [class.bg-gradient-primary]="category===selectedCategory"
      >
        <span class="nav-link-text ms-1">{{category.title}}</span>
      </a>
    </li>
  </ul>
</div>
