<div class="sidenav-header sidenav__title">
  <span class="ms-1 font-weight-bold text-white">Категории</span>
  <!--иконка добавления категории-->
  <span>
    <button
      mat-icon-button
      class="add-icon"
      (click)="openAddCategoryDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
    </span>
</div>
<hr class="horizontal light mt-0 mb-2">
<div>

</div>

<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
  <ul class="navbar-nav">

    <div>
      <!--   поиск категории-->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Поиск категории</mat-label>
        <input
          #inputSearchCategory
          (keydown.escape)="searchCategoryTitle=''; search()"
          (keyup)="search()"
          [(ngModel)]="searchCategoryTitle"
          matInput
        >

        <button
          (click)="searchCategoryTitle=''; search()"
          *ngIf="inputSearchCategory.value.trim().length>0"
          matSuffix
          mat-icon-button
          aria-label="Clear">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!--виртуальная категория-->
    <li class="nav-item"
        (click)="showTasksByCategory(null)">
      <a class="nav-link text-white pointer"
         [class.bg-gradient-primary]="selectedCategory===null">
        <span class="category__all nav-link-text ms-1">Все</span>

        <!--сколько невыполненных задач-->
        <span class="category__uncompleted--count">{{uncompletedTotal}}</span>
      </a>
    </li>


    <!--разделитель-->
    <hr class="horizontal light">

    <!--категории-->
    <div *ngIf="categories.length===0"><p class="category__not-found">Ничего не найдено</p></div>
    <li
      class="nav-item"
      (click)="showTasksByCategory(mapValue.key)"
      *ngFor="let mapValue of selectedCategoryMap | keyvalue; let index=index"
      (mouseleave)="showEditIcon(null)"
      (mouseenter)="showEditIcon(index)"
    >
      <a
        class="nav-link text-white pointer"
        [class.bg-gradient-primary]="mapValue.key===selectedCategory">

        <!--название категории-->
        <span class="category__title nav-link-text ms-1">{{mapValue.key.title}}</span>

        <!--кнопка редактирования категории-->
        <span class="category__icon">
           <button mat-icon-button class="icon-edit">
              <mat-icon
                *ngIf="indexMouseMove===index"
                (click)="$event.stopPropagation(); openEditCategoryDialog(mapValue.key)"
              >edit</mat-icon>
            </button>
        </span>

        <!--сколько невыполненных задач-->
        <span class="category__uncompleted--count"> {{mapValue.value}}</span>

      </a>
    </li>

  </ul>
</div>
