<div class="sidenav-header sidenav__title">
  <span class="ms-1 font-weight-bold text-white">Категории</span>
  <!--иконка добавления категории-->
  <span>
    <button mat-icon-button class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
    </span>
</div>
<hr class="horizontal light mt-0 mb-2">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <!--виртуальная категория-->
    <li class="nav-item"
        (click)="showTasksByCategory(null)">
      <a class="nav-link text-white pointer"
         [class.bg-gradient-primary]="selectedCategory===null">
        <span class="nav-link-text ms-1">Все</span>
      </a>
    </li>
    <!--разделитель-->
    <hr class="horizontal light">

    <!--категории-->
    <li
      class="nav-item"
      *ngFor="let category of categories; let index=index"
      (click)="showTasksByCategory(category)"
      (mouseleave)="showEditIcon(null)"
      (mouseenter)="showEditIcon(index)"
    >
      <a
        class="nav-link text-white pointer"
        [class.bg-gradient-primary]="category===selectedCategory">

        <!--название категории-->
        <span class="category__title nav-link-text ms-1">{{category.title}}</span>

        <!--кнопка редактирования категории-->
        <span class="category__icon">
           <button mat-icon-button class="icon-edit">
              <mat-icon
                *ngIf="indexMouseMove===index"
                (click)="$event.stopPropagation(); openEditCategoryDialog(category)"
              >edit</mat-icon>
            </button>
        </span>
      </a>
    </li>
  </ul>
</div>
